* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  background-color: rgb(194, 231, 238);
}

img {
  width: 80px;
}
header {
  font-size: 70px;
  text-align: center;
  margin: 20px auto;
}

main {
  font-size: 35px;
  color: whitesmoke;
  height: 80vh;
  
}

h1,
th,
header {
  text-transform: uppercase;
}

h1 {
  padding: 10px;
  text-align: center;
}

.departures {
  background-color: rgb(6, 6, 6);
  border-radius: 10px;
  padding: 10px;
  width: 100rem;
  margin: 7rem auto;
}

.departures table div {
  border: solid 4px rgb(26, 26, 26);
  background-color: rgb(0, 0, 0);
  float: left;
}

.departures table {
  background-color: rgb(46, 46, 46);
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  overflow-x: auto;
}

#time {
  width: 160px;
}

#destination {
  width: 290px;
}

#flight {
  width: 180px;
}

#terminal {
  width: 200px ;
}

#gate {
  width: 135px;
}

#remarks {
  width: 260px;
 }

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100%{
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 764px) {

  header {
    font-size: 3rem;
  }
  h1 {
    text-align: left;
    font-size: 2.5rem;
  }

  .departures {
    width: 60rem;
    margin: 6rem 2rem;
  }

  .departures table {
    font-size: 1.5rem;
  }

  #time {
    width: 65px;
  }
  
  #destination {
    width: 150px;
  }
  
  #flight {
    width: 85px;
  }
  
  #terminal {
    width: 30px ;
  }
  
  #gate {
    width: 50px;
  }
  
  #remarks {
    width: 200px;
   }
}